@using Microsoft.AspNetCore.Components.Routing
@using RiseFlow.Web.Shared

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="m-4 text-sm text-slate-600 dark:text-slate-300">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

